version: '3.8'

services:
  da-monitor:
    build: .
    image: da-monitor-bot:latest
    container_name: da-monitor
    restart: unless-stopped
    env_file:
      - .env
    # Optional: Bot Zeitzone setzen
    command: python bot.py
